@inject MdKaTeXService MdKaTeXService;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@MdKaTeXService.ReproName</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach (var post in githubPosts)
        {
            <NavLink class="nav-link" href=@post.NavUrl Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @post.Name
            </NavLink>            
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private List<GithubPost> githubPosts = new List<GithubPost>();

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            githubPosts = await MdKaTeXService.GetPostsAsync();
            if (githubPosts?.Count > 0)
            {
                githubPosts = githubPosts.OrderByDescending(x=>x.Name).ToList();
                StateHasChanged();
            }
        }
    }

}
